<nav class="bg-jet-black text-pewter p-6 shadow-lg">
  <ul class="flex space-x-6 container mx-auto">
    <li *ngIf="!isAuthenticated()">
      <a routerLink="/login" class="hover:text-gray transition-colors">Login</a>
    </li>
    <li *ngIf="!isAuthenticated()">
      <a routerLink="/register" class="hover:text-gray transition-colors">Register</a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/transactions" class="hover:text-gray transition-colors">Transactions</a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/add-transaction" class="hover:text-gray transition-colors">Add Transaction</a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/dashboard" class="hover:text-gray transition-colors">Dashboard</a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a (click)="logout()" class="hover:text-gray transition-colors cursor-pointer">Logout</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>